.top_text{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-gray);
}
.icon{
    color: var(--text-gray);
    font-size: 16px;
    display: inline-block;
}
.nav_link{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-gray);
    margin: 0 15px;
}
.nav_link:last-child{
    margin-right: 0px;
}
.menuBar{
    cursor: pointer;
    font-size: 24px;
}