
.contact_banner h3{
    font-size: 48px;
    color: var(--white-color);
    position: relative;
    z-index: 2;
    margin-top: 25px;
}
.contact_wrapper{
    padding: 100px 0;
}

.contact_icon {
    width: 50px;
    height: 50px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.icon i{
    font-size: 20px;
}
.contact_content h3{
    font-size: 28px;
    font-weight: 500;
    color: var(--dark-blue);
    margin-bottom: 15px;
}
.contact_content p{
    font-size:16px;
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    margin-bottom: 12px;
}

/* ------media query ----------------- */
/* ---- ipad device ---------- */
@media (min-width:991px) and (max-width:1200px){
    .contact_content p {
        font-size: 15px;
    }
}
/* ----small mobile device ---------- */
@media (max-width:375px){
    .contact_banner h3 {
        margin-top: 55px;
    }
}