.testimonials{
    padding: 100px 0;
    background: url(../../../img/testimonials-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.review{
    max-width: 800px;
    margin: 0 auto;
    line-height: 28px;
}