.services{
    padding: 100px 0;
}
.section_title h5{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 12px;
}
.section_title h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--text-gray);
    margin-bottom: 12px;
}
.section_title p{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-gray);
    margin-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;
}
.ser_title{
    font-size: 28px;
    color: var(--text-gray);
    font-weight: 600;
}
.ser_desc{
    font-size: 16px;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 28px;
}


/* media query */
@media (max-width:768px){
    .section_title h2 {
        font-size: 38px;
        font-weight: 600;
    }
    
}