@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* global css start-------- */
:root{
  --primary-color:#04D2C8;
  --white-color:#ffffff;
  --text-gray:#42495b;
  --gray-color:gray;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none !important;
}
ul{
  list-style: none;
}
.primary-btn{
  padding: 6px 35px;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: inline-block;
  border: none;
}
.secondary-btn{
  padding: 6px 35px;
  border-radius: 25px;
  background-color: var(--white-color);
  color: var(--primary-color);
  display: inline-block;
  border: none;
}
/* global css end-------- */